* {
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  height: 100vh;
  background: linear-gradient(to right, rgb(26, 41, 128), rgb(38, 208, 206));
  color: #fff;
  margin: 0;
}

.container_notes {
  display: flex;
  flex-direction: column; /* Organiza os itens em uma coluna */
  align-items: center; /* Centraliza horizontalmente */
  margin-top: 2px; /* Espaçamento no topo */
  margin-right: 820px; /* Espaçamento no topo */
}

.notes {
  margin-top: 2px; /* Espaçamento entre o título e o bloco */
}
